div.text
{
    margin-right: 200px;
    margin-left: 200px;
    background: rgb(243, 243, 243);

}
.text1
{
    margin-left: 10px;
}

form.form-register
{
    /*margin-top: 20px;*/
    margin-left: 30%;
    margin-right: 30%;
}

form.form-login
{
    /*margin-top: 20px;*/
    margin-left: 30%;
    margin-right: 30%;

}
form.form-login
{
    margin-left: 30%;
    margin-right: 30%;

}
div.jumbotron:hover
{
    border-color: #505260;
}
